
.margin-all{
    margin-top: -120px;
}
.home-booking{
    background: linear-gradient(rgba(119, 119, 145, 0.753),#153a69d5), url(../../Images/inner-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}
.input-field input{   
    border: 1px solid #DCBB87 ;
    border-radius: 5px;
    padding: 5%;
    text-align: center;
}
.sub-btn{
    margin-top: 3%;
    padding: 8px;
    width: 100px;
    height: 45px;
    border-radius: 8px;
    border: none;
}